<div class="navigate">
    <div class="logoCon">
        <div class="socials">
            <div class="icon"><a href=""></a></div>
            <div class="icon"><a href=""></a></div>
            <div class="icon"><a href=""></a></div>
            <div class="icon"><a href=""></a></div>
        </div>
        <div class="logo">
            <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt="">
        </div>
        <div class="cartcon">
            <div class="top">
                <p>CONTACT US</p>
                <p>INVESTOR RELATIONS</p>
                <div class="cart">
                    <div class="icon">
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <select name="" id="">
                    <option value=""> telephonicon 1-866-393-5158 </option>
                </select>
            </div>
        </div>
    </div>

    <div class="linksonHover">
        <div class="con">
            <div class="drop">
                <select name="" id="">
                    <option value="">Parks</option>
                </select>
                <div class="dropdown">
                    <p>Dophin Cove</p>
                    <p>Dophin Cove</p>
                    <p>Dophin Cove</p>
                </div>
            </div>
            
        </div>
        <div class="con">
            <div class="drop">
                <select name="" id="">
                    <option value="">Parks</option>
                </select>
                <div class="dropdown">
                    <p>Dophin Cove</p>
                    <p>Dophin Cove</p>
                    <p>Dophin Cove</p>
                </div>
            </div>
            
        </div>
        <div class="con">
            <p>News</p>
        </div>
        <div class="con">
            <p>Deals</p>
        </div>
        <div class="con">
            <a href="login">Login</a>
        </div>
    </div>

    <div class="smallBanner">
        <p> <span>https://www.dolphincoveja.com/Content/images/Trust_Care.svg</span>
            Dolphin Cares: Integral Hygiene and safety protocols. Read more!</p>
    </div>
</div>

<div class="landing">
    <div class="bigbanner">
    <img src="https://www.dtraveller.com/promotions/imagesDD/dolphincoveja-banner.jpg?v=1" alt="">
    </div>
    <div class="txt">
        <h2>Welcome to Dolphin Cove Jamaica</h2>
        <p>Part of the Dolphin Discovery Group, the largest dolphin company in the world</p>
    </div>
</div>

<div class="programs">
    <h2>DISCOVER OUR SWIM WITH DOLPHINS PROGRAMS</h2>
    <hr>
    <div class="boxs">
        <div class="box">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="text">
                <h3>A DAy of Fun</h3>
                <p>They will give you a kiss and allow you to caress them
                    while standing in knee deep water. This adventure is 
                    best for those who are not comfortable swimming in the 
                    sea and the very young.</p>
            </div>
            <div class="btn">
                <button><a href="">Make Reservation</a></button>
            </div>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="text">
                <h3>A DAy of Fun</h3>
                <p>They will give you a kiss and allow you to caress them
                    while standing in knee deep water. This adventure is 
                    best for those who are not comfortable swimming in the 
                    sea and the very young.</p>
            </div>
            <div class="btn">
                <button><a href="">Make Reservation</a></button>
            </div>
        </div>

        <div class="box">
            <div class="imgBx">
                <img src="" alt="">
            </div>
            <div class="text">
                <h3>A DAy of Fun</h3>
                <p>They will give you a kiss and allow you to caress them
                    while standing in knee deep water. This adventure is 
                    best for those who are not comfortable swimming in the 
                    sea and the very young.</p>
            </div>
            <div class="btn">
                <button><a href="">Make Reservation</a></button>
            </div>
        </div>
    </div>
    
    <div class="paymentsbanner">
        <img src="https://www.dolphincoveja.ac/Content/src/cards.png" alt="">
    </div>
    <div class="allreslink">
        <a href="/all_programs">All Programs</a>
    </div>
</div>