* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
.navigate {
    width: 100%;
    border-bottom: 5px solid rgb(0, 84, 84);
    z-index: 999;
    top: 0;
    position: fixed;
    /* margin-left: -8px; */
}

.navigate nav {
  display: flex;
  align-items: center;
  background-color: teal;
  height: 50px;
  padding: 0px 50px;
}

.navigate nav a {
    /* border: 1px solid #fff; */
    text-decoration: none;
    padding: 5px 8px;
    border-left: 4px solid teal;
    margin-right: 5px;
    color: #fff;
    transition: all ease-in-out 0.8s;
    cursor: pointer;
}

.navigate nav a:hover {
    background: #fff;
    color: teal;
    border-left: 2px solid rgb(0, 142, 167);
    border-radius: 2px;

}

.navigate nav .left {
    margin-left: auto;
}


/*home*/

.navigate2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigate2 .logoCon {
    width: 100%;
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.navigate2 .logoCon .socials{
    display: flex;
}

.navigate2 .logoCon .cartcon{
    display: flex;
    flex-direction: column;
}

.navigate2 .logoCon .cartcon .top{
    display: flex;
    width: 350px;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.navigate2 .logoCon .cartcon .top p {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}

.navigate2 .logoCon .cartcon .top .cart svg{
    width: 20px;
    height: 20px;
    fill: darkblue;
}
.navigate2 .logoCon .socials svg {
    width: 40px;
    height: 40px;
    fill: lightgrey;
}

.navigate2 .logoCon .cartcon .bottom select svg {
    width: 20px;
    height: 20px;
}

.navigate2 .logoCon .cartcon .bottom select{
    padding: 5px 0px;
    width: 250px;
}

.navigate2 .linksonHover {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: teal;
    padding: 20px;
}

.navigate2 .linksonHover select {
    width: 200px;
    padding: 8px 0px;
}

.navigate2 .linksonHover .con {
    display: flex;
    border: 2px solid orange;
}

.navigate2 .linksonHover .con .dropdown {
    display: none;
}

.navigate2 .linksonHover .con:hover .dropdown {
    width: 200px;
    display: block;
    position: absolute;
    background-color: #fff;
}

.navigate2 .linksonHover .con:hover .dropdown p {
    padding: 10px 0px;
}

.navigate2 .smallBanner {
    width: 100%;
    padding: 5px;
    background: #095F65;
    text-align: center;
    color: white;
}
.navigate2 .smallBanner span img{
    width:15px;
    height: 15px;
}

.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing .bigbanner {
    width: 100%;
}

.landing .bigbanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .txt {
    width: 100%;
    position: relative;
    background: darkblue;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
}

.landing .txt h2 {
    font-size: 50px;
    font-weight: 500;
}

.landing .txt p {
    font-size: 25px;
    font-weight: 500;
    font-style: oblique;
}
/* .navigate2 .smallBanner span {
    width: 5px;
    height: 5px;
} */


/*login styles*/
.login{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.register{
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.login form {
    border: 10px solid teal;
    width: 400px;
    /* margin-top: 2%; */
    margin-left: 38%;
    text-align: center;
    padding: 50px 0px;
}

.login form .profile {
    width: 50%;
    height: 20%;
    text-align: center;
    border-radius: 50%;
    border: 5px solid teal;
    margin-left: 100px;
}

.login form .profile img{
    width: 100%;
    height: 100%;
}

.login form h1 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 15px;

}

.login form .name {
    /* font-size: 20px; */
    margin: 15px 0px;
}

.login form .name label {
    font-size: 20px;
}

.login form input {
    padding: 3px 8px;
    /* border-radius: 5px; */
    outline: none;
    border: none;
    border-bottom: 4px solid teal;
    margin-top: 10px;
}

.login form .submit {
    width: 100%;
}

.login form .submit input[type="submit"] {
    width: 130px;
    border:none;
    background: teal;
    padding: 5px 8px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.login form .sml_dets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.login form .sml_dets a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.welcome {
    margin-top: 120px;
    width: 100%;
    /* border-bottom: 5px solid green; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome h1 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
}
.welcome hr {
    width: 600px;
    background: rgb(0, 84, 84);
    border: 3px solid rgb(0, 84, 84);
}

.progCon {
    /* border: 12px solid yellow; */
    margin-top: 50px;
    display: flex;
}

.progCon .updates {
    width: 30%;
    padding: 0px 50px 30px;
}

.progCon .updates .hdl {
    font-weight: 520;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    background: rgb(0, 84, 84);
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}

.progCon .updates .con h2 {
    font-weight: 520;
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
}

.progCon .updates .updbtn button {
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.progCon .box {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.progCon .box2 {
    width: 70%;
    display: flex;
    /* flex-direction: column; */
}

.progCon .box .headline {
    margin-bottom: 30px;
}
.progCon .box .headline h2 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
    margin-left: 130px;
}

.progCon .box .innerBx {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(0, 84, 84);
    margin-bottom: 10px;
    padding: 0px 8px;

}

.progCon .box .innerBx h2 {
    font-weight: 520;
    font-size: 30px;
    padding-bottom: 10px;
}

.progCon .box .innerBx p {
    padding: 4px 0px;
}

.progCon .box .innerBx .txt {
    padding: 0px 12px 10px;
}

.progCon .box .innerBx .schedprice, .progCon .box .innerBx .btns {
    display: flex;
    justify-content: space-between;
} 

.progCon .box .innerBx a {
    color:white;
    cursor: pointer;
    text-decoration: none;
    background: rgb(0, 84, 84);
    padding: 3px 8px;
}

.cont {
    border: 5px solid rgb(0, 84, 84);
    display: flex;
    position: fixed;
    transform: translate(1070px, -540px);
    width: 380px;
    padding: 10px 15px;

}

.cont .addProjectsCon2 h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0px;
}

.cont .addProjectsCon2 div {
    margin-bottom: 5px;
}

.cont .addProjectsCon2 .liners, .cont .addProjectsCon2 .days{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont .addProjectsCon2 input, .cont .addProjectsCon2 select {
    width: 98%;
}

.cont .addProjectsCon2 .butn input{
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
}

.main_Con {
    width: 100%;
} 

.main_Con h1 {
    width: 100%;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.main_Con .edit_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 150px 0px 0px 250px; */
    justify-content: center;
    align-items: center;
    /* margin: 0px 0px 0px 400px; */
  }

.main_Con .edit_form form {
    border: 10px solid rgb(0, 142, 167);
    width: 450px;
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    
}

.main_Con .edit_form form h2 {
    font-size: 40px ;
    font-weight: 500;
    margin-bottom: 20px;
}

.main_Con .edit_form form label{
    padding: 20px 0px;
    font-size: 18px;
}

.main_Con .edit_form form input{
    margin: 15px 0px;
    border: none ;
    border-bottom: 3px solid rgb(0, 84, 84);
    padding: 5px 8px;
}

.main_Con .edit_form form input[type='text'] {
    width: 240px;
    word-wrap: break-word;

}

.main_Con .edit_form form input[type='submit'] {
    border: none;
    outline: none;
    background: rgb(0, 142, 167);
    width: 200px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

.main_Con .edit_form form input[type='submit']:hover {
    background: rgb(0, 84, 84);
}


