* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
.navigate {
    width: 100%;
    border-bottom: 5px solid rgb(0, 84, 84);
    z-index: 999;
    top: 0;
    position: fixed;
    /* margin-left: -8px; */
}

.navigate nav {
  display: flex;
  align-items: center;
  background-color: teal;
  height: 50px;
  padding: 0px 50px;
}

.navigate nav a {
    /* border: 1px solid #fff; */
    text-decoration: none;
    padding: 5px 8px;
    border-left: 4px solid teal;
    margin-right: 5px;
    color: #fff;
    transition: all ease-in-out 0.8s;
    cursor: pointer;
}

.navigate nav a:hover {
    background: #fff;
    color: teal;
    border-left: 2px solid rgb(0, 142, 167);
    border-radius: 2px;

}

.navigate nav .left {
    margin-left: auto;
}


/*login styles*/
.login{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.register{
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.login form {
    border: 10px solid teal;
    width: 400px;
    /* margin-top: 2%; */
    margin-left: 38%;
    text-align: center;
    padding: 50px 0px;
}

.login form .profile {
    width: 50%;
    height: 20%;
    text-align: center;
    border-radius: 50%;
    border: 5px solid teal;
    margin-left: 100px;
}

.login form .profile img{
    width: 100%;
    height: 100%;
}

.login form h1 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 15px;

}

.login form .name {
    /* font-size: 20px; */
    margin: 15px 0px;
}

.login form .name label {
    font-size: 20px;
}

.login form input {
    padding: 3px 8px;
    /* border-radius: 5px; */
    outline: none;
    border: none;
    border-bottom: 4px solid teal;
    margin-top: 10px;
}

.login form .submit {
    width: 100%;
}

.login form .submit input[type="submit"] {
    width: 130px;
    border:none;
    background: teal;
    padding: 5px 8px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.login form .sml_dets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.login form .sml_dets a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.welcome {
    margin-top: 120px;
    width: 100%;
    /* border-bottom: 5px solid green; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome h1 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
}
.welcome hr {
    width: 600px;
    background: rgb(0, 84, 84);
    border: 3px solid rgb(0, 84, 84);
}

.progCon {
    /* border: 12px solid yellow; */
    margin-top: 50px;
    display: flex;
}

.progCon .updates {
    width: 30%;
    padding: 0px 50px 30px;
}

.progCon .updates .hdl {
    font-weight: 520;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    background: rgb(0, 84, 84);
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}

.progCon .updates .con h2 {
    font-weight: 520;
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
}

.progCon .updates .updbtn button {
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.progCon .box {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.progCon .box2 {
    width: 70%;
    display: flex;
    /* flex-direction: column; */
}

.progCon .box .headline {
    margin-bottom: 30px;
}
.progCon .box .headline h2 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
    margin-left: 130px;
}

.progCon .box .innerBx {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(0, 84, 84);
    margin-bottom: 10px;
    padding: 0px 8px;

}

.progCon .box .innerBx h2 {
    font-weight: 520;
    font-size: 30px;
    padding-bottom: 10px;
}

.progCon .box .innerBx p {
    padding: 4px 0px;
}

.progCon .box .innerBx .txt {
    padding: 0px 12px 10px;
}

.progCon .box .innerBx .schedprice, .progCon .box .innerBx .btns {
    display: flex;
    justify-content: space-between;
} 

.progCon .box .innerBx a {
    color:white;
    cursor: pointer;
    text-decoration: none;
    background: rgb(0, 84, 84);
    padding: 3px 8px;
}

.cont {
    border: 5px solid rgb(0, 84, 84);
    display: flex;
    position: fixed;
    transform: translate(1070px, -540px);
    width: 380px;
    padding: 10px 15px;

}

.cont .addProjectsCon2 h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0px;
}

.cont .addProjectsCon2 div {
    margin-bottom: 5px;
}

.cont .addProjectsCon2 .liners, .cont .addProjectsCon2 .days{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont .addProjectsCon2 input, .cont .addProjectsCon2 select {
    width: 98%;
}

.cont .addProjectsCon2 .butn input{
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
}
/* 

.addProjectsCon2 {
    display: flex;
    margin: 80px 100px 0px 100px;
}


.addProjectsCon2 .imgBx {
    width: 50%;
    height: 100%;

}

.addProjectsCon2 .imgBx img{
    width: 100%;
    height: 100%;

}

.addProjectsCon2 .form {
    width: 50%;
  }

.addProjectsCon2 .form form {
    border: 10px solid rgba(79, 5, 63, 0.8);
    width: 450px;
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    
}

.addProjectsCon2 .form form h1 {
    font-size: 50px ;
    font-weight: 500;
    margin-bottom: 20px;
}

.addProjectsCon2 .form form label{
    padding: 20px 0px;
    font-size: 18px;
}

.addProjectsCon2 .form form input{
    margin: 15px 0px;
    border: 1px solid silver ;
    border-bottom: 3px solid rgba(79, 5, 63, 0.8);
    padding: 5px 8px;
}

.addProjectsCon2 .form form input[type='text'] {
    width: 240px;
    word-wrap: break-word;

}

.addProjectsCon2 .form form input[type='submit'] {
    border: none;
    outline: none;
    background: rgba(79, 5, 63, 0.8);
    width: 150px;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

.addProjectsCon2 .form form input[type='submit']:hover {
    background: rgb(79, 5, 63);
}

 */
