* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
.navigate {
    width: 100%;
    border-bottom: 5px solid rgb(0, 84, 84);
    z-index: 999;
    top: 0;
    position: fixed;
    /* margin-left: -8px; */
}

.navigate nav {
  display: flex;
  align-items: center;
  background-color: teal;
  height: 50px;
  padding: 0px 50px;
}

.navigate nav a {
    /* border: 1px solid #fff; */
    text-decoration: none;
    padding: 5px 8px;
    border-left: 4px solid teal;
    margin-right: 5px;
    color: #fff;
    transition: all ease-in-out 0.8s;
    cursor: pointer;
}

.navigate nav a:hover {
    background: #fff;
    color: teal;
    border-left: 2px solid rgb(0, 142, 167);
    border-radius: 2px;

}

.navigate nav .left {
    margin-left: auto;
}


/*home*/

.navigate2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigate2 .logoCon {
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.navigate2 .logoCon .socials{
    display: flex;
}

.navigate2 .logoCon .cartcon{
    display: flex;
    flex-direction: column;
}

.navigate2 .logoCon .cartcon .top{
    display: flex;
    width: 350px;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.navigate2 .logoCon .cartcon .top p {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}

.navigate2 .logoCon .cartcon .top .cart svg{
    width: 20px;
    height: 20px;
    fill: darkblue;
}
.navigate2 .logoCon .socials svg {
    width: 40px;
    height: 40px;
    fill: lightgrey;
}

.navigate2 .logoCon .cartcon .bottom select svg {
    width: 20px;
    height: 20px;
}

.navigate2 .logoCon .cartcon .bottom select{
    padding: 5px 8px;
    width: 250px;
    background-color: orange;
    color: #fff;
    border-radius: 10px;
}

.navigate2 .linksonHover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: teal;
    padding: 0px 350px;
}

.navigate2 .linksonHover select {
    width: 200px;
    padding: 8px 0px;
    background: transparent;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.navigate2 .linksonHover .con {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2px solid orange; */
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.8s;
}

.navigate2 .linksonHover .con p {
    padding: 0px 30px;
    font-size: 20px;
    color: white;
}

.navigate2 .linksonHover .con a {
    width: 100%;
    height: 100%;
    text-align:  center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background: rgb(0, 84, 84);
}

.navigate2 .linksonHover .con .dropdown {
    display: none;
    background: white;
    padding: 10px;
    font-size: 18px;
}

.navigate2 .linksonHover .con:hover .dropdown {
    width: 200px;
    display: block;
    position: absolute;
    background-color: #fff;
}

.navigate2 .linksonHover .con:hover .dropdown p {
    padding: 10px 0px;
    color: black;
    font-size: 16px;
}

.navigate2 .smallBanner {
    width: 100%;
    padding: 5px;
    background: #095F65;
    text-align: center;
    color: white;
}
.navigate2 .smallBanner span img{
    width:15px;
    height: 15px;
}

.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing .bigbanner {
    width: 100%;
}

.landing .bigbanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .txt {
    width: 100%;
    position: relative;
    background: darkblue;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
    margin-top: -4px;
}

.landing .txt h2 {
    font-size: 50px;
    font-weight: 500;
}

.landing .txt p {
    font-size: 25px;
    font-weight: 500;
    font-style: oblique;
}
/* .navigate2 .smallBanner span {
    width: 5px;
    height: 5px;
} */

.programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.programs h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 500;    
}

.programs .boxs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.programs .boxs .box {
    width: 400px;
    height: 550px;
    border: 5px solid navy;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    /* justify-content: center; */
}

.programs .boxs .box .imgBx {
    width: 350px;
    height: 350px;
    /* transform: translateY(-2px); */
}

.programs .boxs .box .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.programs .boxs .box .text {
    width: 100%;
    padding: 0px 15px;
}

.programs .boxs .box .text h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}

.programs .boxs .box .text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50em;
    padding-bottom: 10px;
}

.programs .boxs .box .btn button {
    width: 150px;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    background: navy;
}

.programs .boxs .box .btn a{
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.programs .allreslink {
    width: 100%;
    margin: 100px 0px
}

.programs .allreslink a {
    padding: 20px 60px;
    background: teal;
    color: #fff;
    text-decoration: none;
}

.paymentoptions {
    width: 100%;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.paymentoptions h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 50px 0px 20px;  
}

.paymentoptions hr {
    width: 500px;
    border: 2px solid teal;
    background: teal;
    margin-bottom: 50px;
}


.paymentoptions .imgbx img {
    box-shadow: 8px 6px 12px rgba(0, 0, 0, 0.1);
}

/*Styles for All Programs ejs*/

.tit {
    width: 100%;
    padding-left: 50px;
}

.tit h2 {
    font-size: 45px;
    font-weight: 500;
    color: rgb(2, 115, 2);
}

.tit h2 .orange {
    color: orange;
}

.tit h2 .pink {
    color: rgb(243, 50, 201);
}
.bigBox {
    width:100%;
    display: flex;
    padding: 0px 100px;
}

.bigBox .progCon{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}

.bigBox .progCon .box{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
    margin: 10px 15px;
    padding: 5px 0px;
    /* border: 2px solid red; */
}

.bigBox .progCon .box .imgBx{
    width: 350px;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid yellow; */
    border-top: 10px solid navy;
    border-radius: 5px;
}

.bigBox .progCon .box .imgBx img{
   width: 100%;
   height: 250px;
   border-radius: 5px;
   /* border: 2px solid green; */
}

.bigBox .progCon .box .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.bigBox .progCon .box h2 {
    font-weight: 540;
    font-size: 18px;
    padding: 5px 0px;
    color: #fff;
}

.bigBox .progCon .box hr {
    width: 200px;
    margin: 5px 0px;
    background: darkblue;
    border: 1px solid darkblue;
}

.bigBox .progCon .box p {
    font-weight: 500;
    /* font-size: 18px; */
}

.bigBox .progCon .box .info {
    border: 2px solid silver;
    border-top: none;
    margin-top: -43px;
}

.bigBox .progCon .box .schedprice, .bigBox .progCon .box .btn {
    display: flex;
    padding: 5px 18px;
    justify-content: space-between;
}

.bigBox .progCon .box .btn a{
  text-decoration: none;
  color:#fff;
  background: teal;
  padding: 5px 8px;
  border-radius: 20px;
}

/*Walkin Make Reservation Styles*/

.addProjects {
    display: flex;
    margin: 80px 100px 100px 100px;
}

.addProjects .imgBx {
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-left: 2px;

}

.addProjects .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 10px solid lightgreen;
    border-bottom: 5px solid olivedrab;
    border-radius: 5px;

}

.addProjects .form_Bx {
    width: 50%;
    /* border: 2px solid red; */
    /* padding-left: 50px; */

}

.addProjects .form_Bx form {
    border: 10px solid teal;
    border-radius: 5px;
    width: 450px;
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    /* height: 100%; */
    
}

.addProjects .form_Bx form h1 {
    font-size: 50px ;
    font-weight: 500;
    margin-bottom: 20px;
}

.addProjects .form_Bx form label{
    padding: 20px 0px;
    font-size: 18px;
    /* color: red */
}

.addProjects .form_Bx form input, .addProjects .form_Bx form textarea{
    margin: 15px 0px;
    border: none;
    border-bottom: 3px solid rgb(2, 115, 2);
    padding: 5px 8px;
}

.addProjects .form_Bx form input[type='text'] {
    width: 240px;
}

.addProjects .form_Bx form input[type='submit'] {
    border: none;
    outline: none;
    background: teal;
    width: 150px;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

.addProjects .form_Bx form input[type='submit']:hover {
    background: rgb(0, 84, 84);
}

.tit2 {
    text-align: center;
    margin-top: 50px;
}

/*login styles*/
.login{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.register{
    padding-top: 5%;
    /* border: 2px solid orange; */
}

.login form {
    border: 10px solid teal;
    width: 400px;
    /* margin-top: 2%; */
    margin-left: 38%;
    text-align: center;
    padding: 50px 0px;
}

.login form .profile {
    width: 50%;
    height: 20%;
    text-align: center;
    border-radius: 50%;
    border: 5px solid teal;
    margin-left: 100px;
}

.login form .profile img{
    width: 100%;
    height: 100%;
}

.login form h1 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 15px;

}

.login form .name {
    /* font-size: 20px; */
    margin: 15px 0px;
}

.login form .name label {
    font-size: 20px;
}

.login form input {
    padding: 3px 8px;
    /* border-radius: 5px; */
    outline: none;
    border: none;
    border-bottom: 4px solid teal;
    margin-top: 10px;
}

.login form .submit {
    width: 100%;
}

.login form .submit input[type="submit"] {
    width: 130px;
    border:none;
    background: teal;
    padding: 5px 8px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.login form .sml_dets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.login form .sml_dets a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.welcome {
    margin-top: 120px;
    width: 100%;
    /* border-bottom: 5px solid green; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome h1 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
}
.welcome hr {
    width: 600px;
    background: rgb(0, 84, 84);
    border: 3px solid rgb(0, 84, 84);
}

.progCon {
    /* border: 12px solid yellow; */
    margin-top: 50px;
    display: flex;
}

.progCon .updates {
    width: 30%;
    padding: 0px 50px 30px;
}

.progCon .updates .hdl {
    font-weight: 520;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    background: rgb(0, 84, 84);
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}

.progCon .updates .con h2 {
    font-weight: 520;
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
}

.progCon .updates .updbtn button {
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.progCon .box {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.progCon .box2 {
    width: 70%;
    display: flex;
    /* flex-direction: column; */
}

.progCon .box .headline {
    margin-bottom: 30px;
}
.progCon .box .headline h2 {
    font-weight: 450;
    font-size: 50px;
    padding-bottom: 10px;
    margin-left: 130px;
}

.progCon .box .innerBx {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(0, 84, 84);
    margin-bottom: 10px;
    padding: 0px 8px;

}

.progCon .box .innerBx h2 {
    font-weight: 520;
    font-size: 30px;
    padding-bottom: 10px;
}

.progCon .box .innerBx p {
    padding: 4px 0px;
}

.progCon .box .innerBx .txt {
    padding: 0px 12px 10px;
}

.progCon .box .innerBx .schedprice, .progCon .box .innerBx .btns {
    display: flex;
    justify-content: space-between;
} 

.progCon .box .innerBx a {
    color:white;
    cursor: pointer;
    text-decoration: none;
    background: rgb(0, 84, 84);
    padding: 3px 8px;
}

.cont {
    border: 5px solid rgb(0, 84, 84);
    display: flex;
    position: fixed;
    transform: translate(1100px, 220px);
    width: 380px;
    padding: 10px 15px;

}

.cont .addProjectsCon2 h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0px;
}

.cont .addProjectsCon2 div {
    margin-bottom: 5px;
}

.cont .addProjectsCon2 .liners, .cont .addProjectsCon2 .days{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont .addProjectsCon2 input, .cont .addProjectsCon2 select {
    width: 98%;
}

.cont .addProjectsCon2 .butn input{
    background-color: rgb(0, 84, 84);
    color: #fff;
    padding: 5px 4px;
    border: none;
    cursor: pointer;
}

.main_Con {
    width: 100%;
} 

.main_Con h1 {
    width: 100%;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.main_Con .edit_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 150px 0px 0px 250px; */
    justify-content: center;
    align-items: center;
    /* margin: 0px 0px 0px 400px; */
  }

.main_Con .edit_form form {
    border: 10px solid rgb(0, 142, 167);
    width: 450px;
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    
}

.main_Con .edit_form form h2 {
    font-size: 40px ;
    font-weight: 500;
    margin-bottom: 20px;
}

.main_Con .edit_form form label{
    padding: 20px 0px;
    font-size: 18px;
}

.main_Con .edit_form form input{
    margin: 15px 0px;
    border: none ;
    border-bottom: 3px solid rgb(0, 84, 84);
    padding: 5px 8px;
}

.main_Con .edit_form form input[type='text'] {
    width: 240px;
    word-wrap: break-word;

}

.main_Con .edit_form form input[type='submit'] {
    border: none;
    outline: none;
    background: rgb(0, 142, 167);
    width: 200px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

.main_Con .edit_form form input[type='submit']:hover {
    background: rgb(0, 84, 84);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: teal;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px;
    margin-top: 30px;
}

.footer .topLine, .footer .btmLine, .footer .topLine .left, .footer .topLine .right {
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 100px;

    /* border: 2px solid red; */
}

.footer .topLine .left{
    width: 65%
} 

.footer .topLine .right {
    width: 30%;
    margin-left: 30px;
}

.footer .topLine .right .icon svg{
    width: 40px;
    height: 40px;
    fill: #fff;
}

.footer .topLine p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    /* padding: 5px; */
    margin: 0px 5px;
}

.footer .partitions {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    height: 50px;
    padding: 10px 0px;
}

.footer .btmLine {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.footer .btmLine .frst{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly
}

.footer .btmLine .second {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: space-evenly;
}

.footer .copyRights {
    width: 100%;
     height: 50px;
    background: teal;
    background: url('https://www.dolphincoveja.com/Content/src/footer.png');
    background-position: center;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.footer .copyRights p{
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
}

.footer .copyRights a {
    text-decoration: none;
    font-size: 16px;
}
